:root{
    --pri:#F8F4E1;
    --sec:#240f01;
    --tri1:#FEBA17;
    --tri2:#74512D;
}
@font-face {
    font-family: 'aeonik';
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: 'aeonik';
    font-weight: 500;
    src:url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: 'aeonik';
    font-weight: 800;
    src:url(./AeonikTRIAL-BoldItalic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'aeonik';
    color:var(--pri);
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
}
.elem{
    background-color: #FEBA17;
    height: 400px;
    width: 305px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(0,0,0);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 33px;
    right: 5%;   
}
.elem:active{
    scale: 0.97;
}
.fullelem{
   height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 40px;
    /* font-size: 100px; */
    display: none;
    position: absolute;
} 
.back{
    position: absolute;
    right: 5%;
    background-color: red;
    padding: 15px 20px;
    border-radius: 10%;
    font-size: 24px;
    font-weight: 700;
    border: none;
     cursor: pointer;
}
.back:active{
    scale: 0.97;
}
.todo-list-fullpage h2{
    font-size: 65px;

}
.todo-list-fullpage .todo-containner{
    height: 80%;
    width: 100%;
    margin-top: 40px;
    /* background-color: var(--tri2); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todo-containner .addTask{
    width: 33%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;

}
.todo-list-fullpage .todo-containner .allTask{
    width: 65%;
    background-color: var(--tri2);
    border-radius: 20px;
    height: 100%;
}
.todo-list-fullpage .todo-containner .addTask form{
    display: flex;
   flex-direction: column;
   align-self: start;
   padding: 30px;
}
.todo-containner .addTask form input{
    padding: 10px 25px;
    width: 100%;
    /* height: 100%; */
    font-size: 28px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20%;
}
/* .todo-containner .addTask form textarea{
    padding: 10px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 18%;
} */
 .todo-containner .addTask form textarea {
    padding: 10px 25px;
    width: 100%;
    height: 100px; /* <- adjust as needed */
    font-size: 22px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    resize: none;
}

.todo-containner .addTask form button{
    padding: 10px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    font-weight: 700;
    outline: none;
    margin-bottom: 20%;
    transition: all ease-in 0.3s;
}
.todo-containner .addTask form button:active{
    scale: 0.96em;
}